.input-item {
    display: flex;
    color: white;
    flex-direction: column;
    gap: .6rem;
    width: 100%;
}

.input-item label {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

.short {
    width: 60%;
}

.input-main {
    display: flex;
    background-color: var(--dark-color);
    padding: 16px 12px;
    border: 2px solid #252F38;
    border-radius: 4px;
    align-items: center;
    gap: .5rem;
}

.input-main input {
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
}

.input-main i {color: #6C757D;}

.input-main input::placeholder {
    color: #6C757D;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.btnGerar {
    width: 40%;
    background-color: var(--dark-color);
    padding: 16px 12px;
    border: 2px solid #252F38;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.flex-end {
    display: flex;
    justify-content: flex-end !important;
    align-items: flex-end !important;
}

/* ContentHeader */

.content-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    color: white;
}

.content-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 20px;
}

/* User List */

.user-list {
    display: flex;
    flex-direction: column;
    gap: .9rem;
}

.user-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 205, 180, 0.1);
    border-radius: 8px;
    padding: .7rem 1.3rem;
    width: 476px;
    color: white;
}

.user-name {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #CBCBCB;
}

.user-name i {font-size: 6px;}

.btnUser {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;
    font-size: 1.3rem;
}

.btnUser {background-color: transparent !important;}